div {
   display: flex;
   flex-direction: row;
   align-items: center;
   flex-wrap: wrap;

}
p {
  margin-left: 50px;
 }

 .card, .hoverable{
  left: 80px;
 }

.card .card-image img {
  display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 360px;
    right: 0;
    top: 0;
    bottom: 0;
    width: 180px;
    margin-top: 24px;
}
