div {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-wrap: wrap;
}

h2 {
  font-size: 24px;
  color: #F4F4F4;
  order: 1;

}
h3 {
  color: #DCD0C0;
  order: 1;
}
p {
  font-size: 20px;
  color: #C0B283;
  order: 3;
 }

img {
  width: 199px;
  text-align: center;
  order: 1;
}

